<% action = (action_type == :new) ? items_url : item_url(item) %>
<% button_text = (action_type == :new) ? "New Item" : "Update Item"%>

<form action="<%= action %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if action_type == :edit %>
    <input type="hidden" name="_method" value="PUT">
<% end %>

  <label for="title">Title:
    <input type="text" id="title" value="<%= item.title %>" name="item[title]">

  </label>
  <br>
  <br>
  <br>

  <label for="url">URL:
    <input type="url" id="url" name="item[url]"><%= item.url %></textarea>
  </label>
  <br>
  <br>

  <label for="private">Private?:
    <input type="checkbox" id="private" name="item[private]"
    <%= 'checked="true"' if item.private %>>
  </label>
  <br>

  <label for="ttype">Type of URL:
    <select id="ttype" name="item[ttype]">
      <option value="Website">Website</option>
      <option value="Image">Image</option>
      <option value="Video">Video</option>
    </select>
  </label>
  <br>

  <input type="submit" value="<%= button_text %>">
</form>
